* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#navigation {
    background-color: rgba(0,0,0);
    color: white;
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 10;
    top: 0px;


 
}

#menu {

}

.content #mainbanner {
    top: 50px;
    background-image: url("tacos.jpg");
    height: 500px;
    margin: 10px;
    position: relative;
    border: 2px solid black;

}

#tttitle {

    font-size: 95px;
    color: white;
    width: 60%;
    top: 10px;
    background-color: rgb(105, 104, 104,0.5);
    overflow: hidden;
    position: relative;
}

#menubutton {
 
    font-size: 65px;
    width: 200px;
    color: white;
    top: -3px;
    background-color: rgb(105, 104, 104,0.5);
    border: 2px solid black;
    right: 120px;
    position: relative;
    overflow: hidden;
}
#menubutton2 {
 
    font-size: 65px;
    width: 270px;
    color: white;
    top: -141px;
    left: 120px;
    background-color: rgb(105, 104, 104,0.5);
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

#menubutton:hover {
    background-color: black;
}
#menubutton2:hover {
    background-color: black;
}

.bottomhalf {
    position: relative;
    margin-top: 65px;
    
  
}

#titles {
    text-align: center;
    margin: 30px 30px;
   
}

#ourlocation {
    right: 100px;
    color: white;
    width: 500px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.6);
}
.treeinfo {
    right: 100px;
    color: white;
    width: 500px;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}
.map{
    float: left;
}
.content {
    background-color: tan;
}

footer {
    background-color: black;
    height:70px;
    width: fill;
}