.aboutusbody {
    position: relative;
    height: 700px;
}

/* Brennan's section */
#aboutusbackground {
    border: 1px solid black;
    left: 10%;
    right: 55%;
    position: absolute;
    width: fill;
    height: 100%;
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
}



/* Kagen's section */
#aboutusbackground1 {
    border: 1px solid black;
    left: 55%;
    position: absolute;
    width: fill;
    right: 10%;
    height: 100%;
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
}



/* Universial Elements */
