#backgroundlogin {

    position: relative;
    width: 100%;
    height: 600px;

}

.loginform {

    left: 33%;
    position: absolute;
    width: fill;
    right: 33%;
    height: 100%;
    background-color: rgb(52, 52, 52);

    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);

    
}
/* Login page element*/
#username {
    position: absolute;
    border: 2px solid black;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* Login page element*/
#password {
    position: absolute;
    border: 2px solid black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Sign up page element*/
#email {
    position: absolute;
    border: 2px solid black;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* Sign up page element*/
#repeatPassword {
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Login page element*/
.loginbutton {
    position: absolute;
    background-color: rgb(52, 52, 52);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sign up page element*/
.registerButton {
    position: absolute;
    background-color: rgb(52, 52, 52);
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Sign up page element*/
.accountButton {
    position: absolute;
    background-color: rgb(52, 52, 52);
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Login page element*/
.forgotpswd {
    position: absolute;
    background-color: rgb(52, 52, 52);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logintext {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color:rgb(52, 52, 52);
}
