
/* Site Footer */
.footer {
    background-color: #E8E8E8;
    padding: 30px;
    text-align: center;
}
.footer-navigation {
  margin: 0 auto;
  max-width: 1280px;
}
  
@media(min-width: 720px) {
  .footer-right {
    float: right;
    margin-top: 0;
  }
}
.footer li {
  line-height: 0;
}
.footer li a {
  text-decoration: none;
  margin-left: 20px;
}







