* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color:rgb(66, 67, 73);
}

.title {
    font-size: 50px;
	color: white;
	padding: 10px;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

.header{
	font-size: 20px;
    color: white;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

.content {
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.button {
    background-color: #4c688f;
    border: 1px solid rgb(41, 40, 40);
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #4c618f;
}

.column {
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px;
}

/* Style the top navigation bar */
nav .topnav {
    background-color: white;
    
}
.topnav {
    overflow: hidden;
<<<<<<< HEAD
    background-color: black;
    position: sticky;
=======
    background-color: #333;
    border: 2px solid red;
>>>>>>> cc2fdec49aedf144ca183d7d415b4dfb0d063db2
    width: 100%;
    top: 0;
    margin-right: 0px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}