* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background:rgb(66, 67, 73);
}

#signup {
    /*background-color: black;*/
    color: white;
    text-align: center;
    margin: 10px;
    position: relative;
    width: 200px;
    height: 50px;
}
#register {
    /*background-color: black;*/
    color: white;
    text-align: center;
    width: 250px;
    height: 45px;
}


.sidebar {
  border: 2px solid red;
  height: 600px;
  position: relative;
  background-color: rgb(52, 52, 52);
  width: 25%;
  left: 75%;

  border-radius: 20px;
}

#SideBarTitle h3 {
  color:white;
  position:absolute;
  background-color: rgb(52, 52, 52);
  left: 33%;
  font-size: 20px;
}

#SideBarMenu {
  position:absolute;
  top: 10%;
  color: white;
  background-color: rgb(52, 52, 52);
}

#SideBarMenu h4 {
  background-color: rgb(52, 52, 52);
}

#SideBarMenu ul {
  background-color: rgb(52, 52, 52);
  position:absolute;
  width: 150%;
  left: 10%;
}

#SideBarMenu li {
  background-color: rgb(52, 52, 52);


}

#SideBarMenu a {
  color: white;
  background: transparent;
}









.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

