.button {
    justify-content: center;
    height: 45px;
    min-width: 10em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

.button.hover {
    background-color: #4c688f;
}
  
.button.active {
    background-color: #4c688f;
}
  
.button__text, .material-icons{
    background-color: #4c688f;
    width:100%;
    color: rgb(255, 255, 255);
    height: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.material-icons{
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    width:100%;
    padding: 10px;
    color: rgb(255, 255, 255);
    height: 100%;
}

.button__text:hover, .material-icons:hover{
    background-color: #55739e;
}
.button__text:active, .material-icons:active{
    background-color: #4c688f82;
}