#profilepic{
    border-radius: 50%; 
    position: absolute;
   /* display: inline-block; */
   text-align: center;
    border: 2px solid black;
    height: 128px;
    width: 128px;
    left: 30%;
    top: 10%
}